<!--#include FILE="top.inc" -->

<h2>Configuration</h2>
The configuration of Emofilt is done by a text file which can be specified on the command line or defaults to "emofiltConfig.ini".
Here's an example that qorks for me under <a href="emofiltConfig.ini">Windows XP, English interface</a>.

<!--#include FILE="bottom.inc" -->